<form (ngSubmit)="onSubmit()">
    <p class="form-title">Choose Task Status:</p>

    <button class="close-button" (click)="closeForm()">X</button>

    <div class="row g-4">
        <div class="col-md-2">
            <label class="form-label" for="status">Status</label>
            <select class="form-select" id="status" name="selectedStatus" [(ngModel)]="selectedStatus">
                <option value="sala">Approved</option>
                <option value="elev">Pending</option>
                <option value="pass">Rejected</option>
            </select>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>
