.header {
    text-align: center;
    color: #fff;
    font-size: 30px !important;
    font-family: 'Playpen Sans', cursive !important;
    margin-top: 50px;
    text-shadow: 0 0 3px #fff;
}

.group-buttons {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.btn-primary {
    margin: 20px;
    background-color: rgba(217, 221, 220, 0.1);
    padding: 15px;
    border-radius: 25px;
    font-family: 'Playpen Sans', cursive;
    width: 25%;
    height: 80px;
}

.btn-primary:hover {
    background-color: rgb(194, 200, 199, 0.4);
    box-shadow: 4px 4px 3px rgba(255, 255, 255, 0.5);
}