<h3 class="title">
  Pickup & Delivery Tasks
  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
</svg>
    <table class="table table-striped table-dark table-hover"> 
      <thead>
        <tr>
          <th class="header" scope="col">#</th>
          <th class="header" scope="col">Pickup Place</th>
          <th class="header" scope="col">Delivery Place</th>
          <th class="header" scope="col">Pickup Name</th>
          <th class="header" scope="col">Pickup Phone</th>
          <th class="header" scope="col">Delivery Name</th>
          <th class="header" scope="col">Delivery Phone</th>
          <th class="header" scope="col">Description</th>
          <th class="header" scope="col">Code</th>
          <th class="header" scope="col">Status</th>
          <th class="header" scope="col">User</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of parsedTasks; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ task.pickupPlace }}</td>
          <td>{{ task.deliveryPlace }}</td>
          <td>{{ task.pickupPersonName }}</td>
          <td>{{ task.pickupPersonPhoneNumber }}</td>
          <td>{{ task.deliveryPersonName }}</td>
          <td>{{ task.deliveryPersonPhoneNumber }}</td>
          <td>{{ task.description }}</td>
          <td>{{ task.confirmationCode }}</td>
          <td>{{ task.status }}</td>
          <td>{{ task.userId }}</td>
        </tr>
      </tbody>
    </table>