form {
    padding: 20px;
    width: 45%;
    margin: auto;
    margin-top: 20px;
    background-color: rgba(217, 221, 220, 0.2);
    border-radius: 30px;
}

.form-label {
    color: #fff;
    font-family: 'Playpen Sans', cursive;
}

.form-control {
    width: 75%;
}

.form-title {
    text-align: center;
    color: #fff;
    font-family: 'Playpen Sans', cursive;
}

.btn-primary {
    width: 20%;
}