/* styles.css */

.small-text {
  font-size: small;
}

.terms-container {
  font-size: 14px;
  line-height: 1.5;
  color: #fff; /* Cor do texto branca */
}

.terms-container a {
  color: #fff; /* Cor do link branca */
}

/* Estilo adicional para destacar o link quando o mouse passa por cima */
.terms-container a:hover {
  text-decoration: underline;
}
