<main>
    <div class="header">
        <h2>Buildings Management</h2>
    </div>

    <div class="group-cards">
        <div class="card" style="width: 18rem;">
            <img src="https://pm1.aminoapps.com/7874/0974338714258c39d59b05b5b5eae0fb7b8d16a7r1-736-736v2_uhq.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Create new Building</p>
            </div>
        </div>
    
        <div class="card" style="width: 18rem;">
            <img src="https://i.pinimg.com/736x/46/1d/0b/461d0bddcee257cd7c9cc473dc62c4c9.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Update Building</p>
            </div>
        </div>
    
        <div class="card" style="width: 18rem;">
            <img src="https://static.myfigurecollection.net/upload/entries/1/1553-8c186.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">List Buildings</p>
            </div>
        </div>
    </div>

</main>


