form {
    padding: 20px;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    background-color: #090430;
    border-radius: 30px;
}

.form-label {
    color: #fff;
    font-family: 'Playpen Sans', cursive;
}

.form-control {
    width: 100%;
}

.form-title {
    text-align: center;
    color: #fff;
    font-family: 'Playpen Sans', cursive;
}

.form-select {
    width: 75%;
}

.col-12 {
    margin: inherit;
}

.btn-primary {
    width: 25%;
    font-family: 'Playpen Sans', cursive;
}

.row {
    margin-top: 5px;
}
