.app-register {
  width: 100%;
  font-family: 'Playpen Sans', cursive;
  font-size: 15px;
  text-align: center;
  color: #fff;
  padding: 10px;
  background-color: rgba(188, 183, 177, 0.3);
}

form {
  width: 45%;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(97, 98, 98, 0.8);
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.form-label {
  color: #fff;
  font-family: 'Playpen Sans', cursive;
}

.form-control {
  width: 50%;
  max-width: 400px;
  font-size: 14px;
  padding: 8px;
}

.form-title {
  text-align: center;
  color: #fff;
  font-family: 'Playpen Sans', cursive;
  font-size: 24px;
}

.form-select {
  width: 10%;
}

.col-12 {
  margin: inherit;
}

.btn-primary {
  background-color: rgb(44, 71, 197);
  width: 8rem;
  border: 1px solid rgb(162, 174, 174);
}

.btn-primary:hover {
  background-color: rgb(86, 101, 101);
}

.row {
  margin-top: 10px;
}
