<form (ngSubmit)="onSubmit()">
  <p class="form-title">Sign up</p>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input id="email" type="email" class="form-control" name="email" [(ngModel)]="email" required>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input id="password" type="password" class="form-control" name="password" [(ngModel)]="password" required>
  </div>
  <div class="mb-3">
    <label for="phoneNumber" class="form-label">Phone Number</label>
    <input id="phoneNumber" type="tel" class="form-control" name="phoneNumber" [(ngModel)]="phoneNumber">
  </div>
  <div class="mb-3">
    <label for="contribuinte" class="form-label">Contribuinte</label>
    <input id="contribuinte" type="text" class="form-control" name="contribuinte" [(ngModel)]="contribuinte">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="acceptTerms" name="acceptTerms" [(ngModel)]="acceptTerms" (change)="onAcceptTermsChange()" required>
    <label class="form-check-label" for="acceptTerms">
      I accept the <a routerLink="/RGPD">terms and conditions</a>.
    </label>
  </div>
  <button id="create" type="submit" class="btn btn-primary" [disabled]="!acceptTerms">Request Create User</button>

</form>
