form {
    padding: 20px;
    width: 45%;
    margin: auto;
    margin-top: 20px;
    background-color: #090430;
    border-radius: 30px;
}

.form-label {
    color: #fff;
    font-family: 'Playpen Sans', cursive;
}

.form-control {
    width: 100%;
}

.form-control:disabled {
    background-color: lightgrey;
}

.code_form {
    width: 35%;
}

.name_form {
    width: 60%;
}

.form-title {
    text-align: center;
    color: #fff;
    font-family: 'Playpen Sans', cursive;
}