<form>
    <p class="form-title">Create a new Building</p>
    <div class="mb-3">
      <label for="inputCode" class="form-label">Building Code</label>
      <input type="email" class="form-control" id="inputCode" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="inputName" class="form-label">Building Name</label>
      <input type="password" class="form-control" id="inputName">
    </div>
    <div class="mb-3">
        <label for="inputDescription" class="form-label">Building Description</label>
        <textarea type="password" class="form-control" id="inputDescription"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
