<form (ngSubmit)="onSubmit()">
    <p class="form-title">Update Floor</p>
    <button class="close-button" (click)="closeForm()">X</button>
    <div class="mb-3">
        <label for="number" class="form-label">Floor Number</label>
        <input type="number" class="form-control" name="number" placeholder={{selectedFloor.floorNumber}} [(ngModel)]="selectedFloor.floorNumber" disabled>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Floor Description</label>
        <textarea type="description" class="form-control" name="description" [(ngModel)]="selectedFloor.description"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>