// styles.scss

@import '~@angular/material/theming';

// Define your custom snackbar theme
$custom-snackbar-theme: mat.define-dark-theme((
  color: (
    primary: rgb(13, 10, 103)3, 243), // Customize the primary color
  ),
);

// Include the custom snackbar theme in the global application theme
$global-theme: mat.define-light-theme((
  // ... other theme settings
  'snackbar-custom-theme': mat.map-get($custom-snackbar-theme)
));

@include mat.all-component-themes($global-theme);

// Define a CSS class to style error messages with a red background
.error-snackbar {
  background-color: red;
  color: white;
}
