.table {
    width: 65%;
    margin: auto;
    margin-top: 2%;
    font-family: 'Playpen Sans', cursive;
}

.header {
    background-color: #090430 !important;
}

.title {
    text-align: center;
    font-family: 'Playpen Sans', cursive;
    color: #fff;
    margin-top: 2%;
}

tr:hover {
    cursor: pointer;
}

