body {
    background-image: url("https://wallpaperaccess.com/full/4137610.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

  
  div {
    display: flex;
    flex-direction: column;
    flex: 2; /* Adjust the flex property to control the width of the content area */
  }
  

