body {
    background-color: rgb(18, 19, 29);
    display: flex;
    height: 100vh; /* Make sure the body covers the full viewport height */
    margin: 0;
}

  
  div {
    display: flex;
    flex-direction: column;
    flex: 2; /* Adjust the flex property to control the width of the content area */
  }
  

