<form (ngSubmit)="onSubmit()">
  <p class="form-title">Create a new Elevator</p>

  <div class="row g-4">
    <div class="col-md-4">
      <label class="form-label" for="code">Code:</label>
      <input type="text" class="form-control" name="code" [(ngModel)]="code">
    </div>

    <div class="col-md-4">
      <label class="form-label" for="building">Building:</label>
      <select class="form-select" id="building" name="buildingId" [(ngModel)]="buildingId">
        <option *ngFor="let building of buildings" [value]="building.id">{{ building.name }}</option>
      </select>
    </div>

    <div class="row">
      <div class="col-md-4">
        <label class="form-label">Floors:</label>
        <div *ngFor="let floor of floors">
          <input type="checkbox" id="floor{{ floor.floorNumber }}" name="floorCheckbox" [(ngModel)]="floor.selected">
          <label for="floor{{ floor.floorNumber }}">{{ floor.description }}</label>
        </div>
      </div>
      <div class="col-md-8">
        <label class="form-label">Selected Floors:</label>
        <ul>
          <li *ngFor="let selectedFloor of selectedFloors">{{ selectedFloor }}</li>
        </ul>
      </div>
    </div>



    <div class="col-md-4">
      <label for="brand" class="form-label">Brand</label>
      <input type="text" class="form-control" name="brand" [(ngModel)]="brand">
    </div>

    <div class="col-md-4">
      <label for="positionX" class="form-label">Position X</label>
      <input type="text" class="form-control" name="positionX" [(ngModel)]="positionX">
    </div>

    <div class="col-md-4">
      <label for="positionY" class="form-label">Position Y</label>
      <input type="text" class="form-control" name="positionY" [(ngModel)]="positionY">
    </div>

    <div class="col-md-4">
      <label for="direction" class="form-label">Direction</label>
      <select class="form-select" name="direction" [(ngModel)]="direction">
        <option selected>North</option>
        <option>South</option>
        <option>West</option>
        <option>East</option>
      </select>
    </div>

    <div class="col-md-4">
      <label for="model" class="form-label">Model</label>
      <input type="text" class="form-control" name="model" [(ngModel)]="model">
    </div>

    <div class="col-md-4">
      <label for="serialNumber" class="form-label">Serial Number</label>
      <input type="text" class="form-control" name="serialNumber" [(ngModel)]="serialNumber">
    </div>

    <div class="col-md-4">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" name="description" [(ngModel)]="description" rows="3"></textarea>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
