<app-featuresv6
[titleText]="titleText"
[feature1ButtonText]="feature1ButtonText"
[feature2ButtonText]="feature2ButtonText"
[feature3ButtonText]="feature3ButtonText"
[feature4ButtonText]="feature4ButtonText"
[feature5ButtonText]="feature5ButtonText"
[feature6ButtonText]="feature6ButtonText"
[feature1Route]="feature1Route"
[feature2Route]="feature2Route"
[feature3Route]="feature3Route"
[feature4Route]="feature4Route"
[feature5Route]="feature5Route">
</app-featuresv4>
[feature5Route]="feature5Route"
[feature6Route]="feature6Route">
</app-featuresv6>
<router-outlet></router-outlet>
